.gallery-card {
  width: 200px;
  height: 300px;
}

.gallery-img {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.pattern-gallery-btn {
  background-color: #7678ed;
  border-color: #7678ed;
}

.pattern-gallery-btn:hover {
  background-color: #3d348b;
  border-color: #3d348b;
}
